# LaTeX
*.aux
*.bcf
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# l3build
build/

# Normas técnicas mantidas apenas para consulta local
bases/

# Editors and operating systems
*~
.DS_Store
